/**************************
Login styling
**************************/
@media only screen and (max-width: 800px){
  .login-body .form{
    margin-left: 26%;
    height: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .login-body .form{
    margin-left: 10%;
    width: 80%;
    height: auto;
  }
}



/*******************************
   Screen style at size 1025px
   **********************************/
   @media screen and (max-width:1025px){
    .nav.container{
      margin-left: 32%;
    }
    .links {
     width: 70%;
     height: 60%;
   }
   body{
     background-attachment: fixed;
   }
  }

  /* ***********************************
    Style at media screen size 656px
  *************************************/
  @media only screen and (max-width: 656px) {
    nav.container {
        margin-left: 25%;
      }
    .sidenav {padding-top: 15px;
            display: none;}
    .sidenav a {font-size: 15px;}
    .main {
        margin-left: 1%;
        margin-top: 3%;
    }
    ul {margin-left: 0%;}
    .main{margin-top: 2%;}
    }

/***************************************
 Styling at media screen 470px 
 ***************************************/
 @media only screen and (max-width: 470px){
    .modal-content{
        width:100%;
    }

    .modal-content {
      background-color: #fefefe;
      margin: 5% auto 5% auto;
      border: 1px solid #888;
      width: 100%;
      height: 15%;}

    .modal.show .modal-dialog {
        -webkit-transform: none;
        transform: none;
        width: 100%;
    } 

    .uploadmodal .modal-body {
      position: relative;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 1rem;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .main{
        margin-top: 23%;
        margin-right:0%;
      }
    nav.container{
        margin-left: 0%;
        font-size: 10px;
      } 

    .fade .modal-dialog .modal-content {
      background-color: #fefefe;
      margin: 5% auto 5% auto;
      border: 1px solid #888;
      width: 100%;
    }

    #rep_nav{
      background-color: white;
      margin-left:0%;
    }
 }
