{% extends 'base.html' %}
{% block add_site_members %}
<style>
@media only screen and (max-width: 800px){
  .container{
      padding-top: 3%;
  }
}
/* #selectedRole .row{
  display: none;
} */
#selectedUser li:nth-of-type(1n+6) {
  display: none;
}
</style>
<div class="container" style="margin-top: 10%;">
    <div class="row border" style="height:400px;">
        <!-- Vertical lines -->
        <div class="vl"></div>
        <!-- First column -->
      <div class="vc col-lg">
        <form class="form-inline navbar-light bg-light">
            <div class="input-group">
              <div class="input-group-prepend">
                <button type="submit" class="btn btn-outline-primary my-2 my-sm-0 input-group-text" >&#128269</button>
              </div>
              {{ filter.form.firstname }}
<!--              <input type="search" class="form-control" placeholder="search" aria-label="Search">-->
            </div>
        </form>
        <hr />
        <p>
          <ul type="none" id="filter-list" class="list-group">
            {% for user in filter.qs %}
              <li class="row list-group-item list-group-item-light list-group-item-action user-list" name="{{user.username}}">
                <span class="">{{ user.get_full_name }}</span>
                <span style="cursor: pointer; color: blue;"><a title="Add This user">+</a> </span> <!-- onclick="addUser('{{user}}','{{user.get_full_name }}')" -->
              </li>
            {% endfor %}
          </ul>
        </p>
      </div>
      <!-- Vertical lines -->
      <div class="vl border-left"></div>
        <!-- Second column -->
      <div class="vc col-lg">
        <h5 style="padding-top: 13px;font-weight: lighter;">Selected Users</h5>
        <hr />
<!--        <div id="selectedUser"></div>-->
        <ul type="none" id="selectedUser" class="list-group">

        </ul>
      </div>
      <!-- Vertical lines -->
      <div class="vl border-left"></div>
        <!-- THird column-->
      <div class="vc col-lg">
        <h5 style="padding-top: 13px;font-weight: lighter;">Select role</h5>
        <hr />
        <ul type="none" id="selectedRole" class="list-group">
           
        </ul>
      </div>
      <!-- Vertical lines -->
      <div class="vl border-left"></div>
      <!-- Fourth column -->
      <div class="vc col-lg">
        <h5><button type="submit" class="btn btn-outline-primary my-2 my-sm-0 input-group-text">Add users</button></h5>
        <hr />
        <p>Lorem ipsum dolor..</p>
      </div>
    </div>
  </div>

  <!-- {{ siteuserform }} -->
{% for form in formset %}
<li>{{form}}</li>
{% endfor %}

<script>

    var  arr = []
    var role = []
    var  extra = 0;

    $(document).ready(function(){

        var csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value;

            $("#filter-list").on('click', 'li', function(){

            $.ajax({
                url: "{% url 'suiteapp:add_site_member' %}",
                type: 'get',
                data: {
                    text: $(this).text(),
                    username: $(this).attr('name'),
                },
                dataType: "json",
                success: function(response){

                    username = response.username;
                    res = response.text;
                    res = res.toString();
                    result = res.replace("+", " ")
                    
                    if(window.arr.length < 5){
                      if(window.arr.find(e => e === username) === undefined){
                          window.arr.push(username);
                          $("#selectedUser").append('<li id="list" name="' + username + '" class="form-group"><span class="form-control">' + result +  '<a style="cursor: pointer; color: blue;" title="remove this user">-</a></span></li>')
                          $("#selectedRole").append('<li id="role" class="form-group" name="' + username + '"><select class="form-control"><option>-------</option><option>manager</option><option>collaborator</option><option>contributor</option><option>consumer</option></select></li>')
                          // console.log(window.arr);
                          // $('.role-1').css("display","block");
                          // for(var i=0; i<document.getElementById('id_form-0-user').options.length; i++)
                          // {
                          //   if (document.getElementById('id_form-0-user').options[i].label === username)
                          //     document.getElementById('id_form-0-user').value = document.getElementById('id_form-0-user').options[i].value;
                          // }
                      }
                      else
                          alert("Already Selected");
                    }

                }
            });
        });

        $("#selectedUser").on('click', 'li', function(){
          $(this).remove();
          max = $(this).index();

            $.ajax({
                url: "{% url 'suiteapp:add_site_member' %}",
                type: 'get',
                data: {
                    user: $(this).text(),
                    name: $(this).attr('name'),
                },
                dataType: "json",
                success: function(response){

                    users = response.user;
                    name = response.name;

                    arry = window.arr;
                    
                    function removeElement(array, elem) {
                        var index = array.indexOf(elem);
                        if (index > -1) {
                            array.splice(index, 1);
                        }
                    }
                    removeElement(arry, name);
                    // console.log(arry);

                    var ul = document.getElementById("selectedRole");
                    var items = ul.getElementsByTagName("li");
                    for (var i = 0; i < items.length; ++i) {
                      var el = items[i].getAttribute("name")
                      if(name.match(el)){
                        $("#selectedRole li[name=" + el + "]").remove();
                      }
                      
                    }                    
                }
            });
        });
    });
</script>
{% endblock %}


