<!DOCTYPE html>
{% url 'suiteapp:mysite' as mysite %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'css/min.css' %}" >
<link rel="stylesheet" href="{% static 'css/responsiveness.css' %}" >
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body onload='myFunction();'>

<!--body tab-->
<div class="container" style="margin-left: 15%">
    <br />
    <br />
    <br />
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link fas fa-folder" data-toggle="modal" data-target="#folderModal" href="#"><r>Create folder</r></a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><r>Upload file</r></a>
          <div class="dropdown-menu">
            <a class="dropdown-item fas fa-folder" data-toggle="modal" data-target="#myModal" href="#"><r>Directory</r></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item fas fa-file-text blue" href="https://docs.google.com/document/u/0/"><r>google docs</r></a>
            <a class="dropdown-item fas fa-file-excel-o blue" href="https://docs.google.com/spreadsheets/u/0/"><r>google spreadsheet</r></a>
            <a class="dropdown-item fas fa-file-powerpoint-o blue" href="#"><r>google presentation</r></a>
          </div>
        </li>
    </ul>
</div>

<div class="sidenav" style="margin-top:10%;">
    <h4 style="font-size:18px"></h4>
  <div class="card" style="width:80%; border:0px;">
      <div class="card-body" style="padding-top:0%;">
        <a href="">Add members</a>
        <a href="">Site members</a>
        <a href="">Chats</a>
      </div>
  </div>
</div>

<!-- The main site -->
<div class="main col-sm-9">
    <div class="container">
        {% for site_folder in site_folders %}
            <div class="row border" style="width:100%; height:150px;">
                <div class="row col-9">
                    <div class="col-sm-2" style="padding-top:5%; height:100%;">
                       <img src="{% static 'images/folder.jpeg' %}" width="50px" height="50px" style="padding-top:4%;" alt="">
                    </div>
                    <div class="col-sm-6">
                        <h5 style="padding-top:10%; margin-left:0px; width:100%;">{{ site_folder.folder_name }}</h5>
                    </div>
                </div>
                <div class="col-3" style="padding-top:5%;">
                    <ul type="none" style="font-size:12px;">
                       <li><a href="{% url 'suiteapp:deleteSite_Folder' site_folder.folder_id %}">Delete</a></li>
                       <li><a href="">Permissions</a></li>
                    </ul>
                </div>
            </div>
        {% endfor %}
            <br />

        <!-- Departments -->
        {% for file in files %}
            {% if file.uploaded_by == user %}
                {% if file.department is blank %}
                    <div class="row border" id="files" style="border:1px groove gray; width:100%; height:150px;">
                        <div class="row col-9">
                            <span class="image col-sm-2" id="id_doc" style="padding-top:20px;">
                               <a href="{{ file.filepath.url }}"><img class="img_doc" src="{% static ''%}" width="70px" height="70px" alt="icon"></a>
                            </span>

                            <span class="filename col-sm-6" id="file_name" style="padding-top:8%;">
                                <h6 style="padding-left:0;"><a href="{% url 'suiteapp:open_file' file.file_id %}" id="filename"> {{ file.filepath|cut:"files/" }}</a></h6>
                            </span>
                        </div>
                        <span class="col-3" style="padding-top:5%;">
                            <ul type="none" style="font-size:12px;">
                               <li><a href="{% url 'suiteapp:deletefile' file.file_id %}">Delete</a></li>
                               <li><a href="">Permissions</a></li>
                               <li><a id="downloadfile" href="{{ file.filepath.url }}" download="{{ file.filepath.url }}">Download</a></li>
                            </ul>
                        </span>
                    </div>
                    <br />
                {% endif %}
            {% endif %}
        {% endfor %}
<h1 id="path">{{ request.path }}</h1>
    </div>
</div>
<script type="text/javascript">
//    document.getElementById('downloadfile').href = window.location.toString();
// sessionStorage.setItem('dept_id',document.getElementById('path').innerText.substring(17).replace('/',''));

var dep_id = sessionStorage.getItem('dept_id');
      var fac_id = sessionStorage.getItem('faculty_id');
      document.getElementById('id_department').value = dep_id;
      document.getElementById('id_faculty').value = fac_id;

  sessionStorage.setItem('dept_id',document.getElementById('path').innerText.substring(17).replace('/',''));
    sessionStorage.setItem('faculty_id',document.getElementById('path').innerText.substring(14).replace('/',''));
                    
</script>

</body>
</html>
