{% extends 'base.html' %}
{% block open %}
{% load static %}
{% url 'suiteapp:open_department' user.department.dept_id as open_department %}
{% url 'suiteapp:open_faculty' user.department.faculty.faculty_id as open_faculty %}
{% url 'suiteapp:mysite' as mysite %}
{% url 'suiteapp:open_folder' folder.folder_id as open_folder %}

{% for message in messages %}
    <p style="color:red;"><b>{{ message }}</b></p>
{% endfor %}

<!-- uploadmodal -->
{% include 'controls/uploadmodal.html' %}

<!-- Createfoldermodal -->
{% include 'controls/createfoldermodal.html' %}

<!--body tab-->
<div class="container" style="margin-left: 15%">
    <br />
    <br />
    <br />
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="" role="tablist" >
      <li class="nav-item">
          <a class="nav-link fas fa-folder" data-toggle="modal" data-target="#folderModal" href="#" onclick="folderForm();"><r>Create folder</r></a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><r>Upload file</r></a>
          <div class="dropdown-menu">
                <a class="dropdown-item fas fa-folder" data-toggle="modal" data-target="#myModal" href="#" onclick="fileForm();"><r>Directory</r></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item fas fa-file-text blue" href="https://docs.google.com/document/u/0/"><r>google docs</r></a>
                <a class="dropdown-item fas fa-file-excel-o blue" href="https://docs.google.com/spreadsheets/u/0/"><r>google spreadsheet</r></a>
                <a class="dropdown-item fas fa-file-powerpoint-o blue" href="#"><r>google presentation</r></a>
          </div>
      </li>
    </ul>
</div>

    <!-- Side navbar -->
<div class="sidenav" style="margin-top:10%;">
    <h4 style="font-size:18px"></h4>
    <div class="card" style="width:80%; border:0px;">
        <div class="card-body" style="padding-top:0%;">
           <a href="">Add members</a>
           <a href="">Site members</a>
           <a href="">Chats</a>
        </div>
    </div>
</div>


<div class="main col-sm-9">
    <div class="container">
<!-- list of files  on department-->
        {% if request.path == open_department %}
            {% for folder in folders %}
                <div class="row border" style="width:100%; height:150px;">
                    <a href="{% url 'suiteapp:open_folder' folder.folder_id %}" class="row col-9">
                        <div class="col-sm-2" style="padding-top:5%; height:100%;">
                            <img src="{% static 'images/folder.jpeg' %}" width="50px" height="50px" style="padding-top:4%;" alt="">
                        </div>
                        <div class="col-sm-6">
                            <h5 style="padding-top:10%; margin-left:0px; width:100%;">{{ folder.folder_name }}</h5>
                        </div>
                    </a>
                    <div class="col-3" style="padding-top:5%;">
                        <ul type="none" style="font-size:12px;">
                            <li><a href="{% url 'suiteapp:delete_folder' folder.folder_id user.department.dept_id folder.folder_name folder.main_folder %}">Delete</a></li>
                            <li><a href="">Permissions</a></li>
                        </ul>
                    </div>
                </div>
                <br >
            {% endfor %}

            {% for file in files %}
                <div class="row border" id="files" style="border:1px groove gray; width:100%; height:150px;">
                    <div class="row col-9">
                        <span class="image col-sm-2" id="id_doc" style="padding-top:20px;">
                            <a href="{{ file.filepath.url }}"><img class="img_doc" src="{% static ''%}" width="70px" height="70px" alt="icon"></a>
                        </span>
                        <span class="filename col-sm-6" id="file_name" style="padding-top:8%;">
                            <h6 style="padding-left:0;"><a href="{% url 'suiteapp:open_file' file.file_id %}" id="filename"> {{ file.filepath|cut:"files/" }}</a></h6>
                        </span>
                    </div>
                    <span class="col-3" style="padding-top:5%;">
                        <ul type="none" style="font-size:12px;">
                            <li><a href="{% url 'suiteapp:deletefile' user.department.dept_id file.file_id %}">Delete</a></li>
                            <li><a href="">Permissions</a></li>
                            <li><a id="downloadfile" href="{{ file.filepath.url }}" download="{{ file.filepath.url }}">Download</a></li>
                        </ul>
                    </span>
                </div>
                <br />               
            {% endfor %}

    <!-- Faculty -->
        <!-- list of folders on faculty -->
        {% elif request.path == open_faculty %}
            {% for folder in folders %}
                <div class="row border" style="width:100%; height:150px;">
                    <a href="{% url 'suiteapp:open_folder' folder.folder_id %}" class="row col-9">
                        <div class="col-sm-2" style="padding-top:5%; height:100%;">
                            <img src="{% static 'images/folder.jpeg' %}" width="50px" height="50px" style="padding-top:4%;" alt="">
                        </div>
                        <div class="col-sm-6">
                            <h5 style="padding-top:10%; margin-left:0px; width:100%;">{{ folder.folder_name }}</h5>
                        </div>
                    </a>
                    <div class="col-3" style="padding-top:5%;">
                        <ul type="none" style="font-size:12px;">
                            <li><a href="{% url 'suiteapp:delete_folder' folder.folder_id user.department.faculty.faculty_id folder.folder_name folder.main_folder %}">Delete</a></li>
                            <li><a href="">Permissions</a></li>
                        </ul>
                    </div>
                </div>
                <br >
            {% endfor %}

            <!-- faculty files-->
            {% for file in files %}
                <div class="row border" id="files" style="border:1px groove gray; width:100%; height:150px;">
                    <div class="row col-9">
                        <span class="image col-sm-2" id="id_doc" style="padding-top:20px;">
                            <a href="{{ file.filepath.url }}"><img class="img_doc" src="{% static ''%}" width="70px" height="70px" alt="icon"></a>
                        </span>
                        <span class="filename col-sm-6" id="file_name" style="padding-top:8%;">
                            <h6 style="padding-left:0;"><a href="{% url 'suiteapp:open_file' file.file_id %}" id="filename"> {{ file.filepath|cut:"files/" }}</a></h6>
                        </span>
                    </div>
                    <span class="col-3" style="padding-top:5%;">
                        <ul type="none" style="font-size:12px;">
                            <li><a href="{% url 'suiteapp:deletefile' user.department.faculty.faculty_id file.file_id %}">Delete</a></li>
                            <li><a href="">Permissions</a></li>
                            <li><a id="downloadfile" href="{{ file.filepath.url }}" download="{{ file.filepath.url }}">Download</a></li>
                        </ul>
                    </span>
                </div>
                <br />
            {% endfor %}

    <!-- Mysite -->
        <!-- Mysite files -->
        {% elif request.path == mysite %}
            {% for file in files %}
                {% if file.uploaded_by == user and file.department == None and file.faculty == None %}
                <div class="row border" id="files" style="border:1px groove gray; width:100%; height:150px;">
                    <div class="row col-9">
                        <span class="image col-sm-2" id="id_doc" style="padding-top:20px;">
                            <a href="{{ file.filepath.url }}"><img class="img_doc" src="{% static ''%}" width="70px" height="70px" alt="icon"></a>
                        </span>

                        <span class="filename col-sm-6" id="file_name" style="padding-top:8%;">
                            <h6 style="padding-left:0;"><a href="{% url 'suiteapp:open_file' file.file_id %}" id="filename"> {{ file.filepath|cut:"files/" }}</a></h6>
                        </span>
                    </div>
                    <span class="col-3" style="padding-top:5%;">
                        <ul type="none" style="font-size:12px;">
                            <li><a href="{% url 'suiteapp:deletefile' file.uploaded_by file.file_id %}">Delete</a></li>
                            <li><a href="">Permissions</a></li>
                            <li><a id="downloadfile" href="{{ file.filepath.url }}" download="{{ file.filepath.url }}">Download</a></li>
                        </ul>
                    </span>
                </div>
                <br />   
                {% endif %}  
            {% endfor %}

            <!-- folders in mysite -->
            {% for folder in folders %}
            {% if folder.created_by == user and folder.department == None and folder.faculty == None and main_folder == None %}
                <div class="row border" style="width:100%; height:150px;">
                    <a href="{% url 'suiteapp:open_folder' folder.folder_id %}" class="row col-9">
                        <div class="col-sm-2 col-md-2" style="padding-top:5%; height:100%;">
                            <img src="{% static 'images/folder.jpeg' %}" width="50px" height="50px" style="padding-top:4%;" alt="">
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <h5 style="padding-top:10%; margin-left:0px; width:100%;">{{ folder.folder_name }}</h5>
                        </div>
                    </a>
                    <div class="col-3" style="padding-top:5%;">
                        <ul type="none" style="font-size:12px;">
                            <li><a href="{% url 'suiteapp:delete_folder' folder.folder_id user.department.faculty.faculty_id folder.folder_name folder.main_folder %}">Delete</a></li>
                            <li><a href="">Permissions</a></li>
                        </ul>
                    </div>
                </div>
                <br >
                {% endif %}
            {% endfor %}

<!--        {% elif request.path == open_folder %}-->
<!--        -->
<!--            {% for file in files %}-->
<!--                <div class="row border" id="files" style="border:1px groove gray; width:100%; height:150px;">-->
<!--                    <div class="row col-9">-->
<!--                        <span class="image col-sm-2" id="id_doc" style="padding-top:20px;">-->
<!--                            <a href="{{ file.filepath.url }}"><img class="img_doc" src="{% static ''%}" width="70px" height="70px" alt="icon"></a>-->
<!--                        </span>-->
<!--                        <span class="filename col-sm-6" id="file_name" style="padding-top:8%;">-->
<!--                            <h6 style="padding-left:0;"><a href="{% url 'suiteapp:open_file' file.file_id %}" id="filename"> {{ file.filepath|cut:"files/" }}</a></h6>-->
<!--                        </span>-->
<!--                    </div>-->
<!--                    <span class="col-3" style="padding-top:5%;">-->
<!--                        <ul type="none" style="font-size:12px;">-->
<!--                            <li><a href="{% url 'suiteapp:deletefile' file.uploaded_by file.file_id %}">Delete</a></li>-->
<!--                            <li><a href="">Permissions</a></li>-->
<!--                            <li><a id="downloadfile" href="{{ file.filepath.url }}" download="{{ file.filepath.url }}">Download</a></li>-->
<!--                        </ul>-->
<!--                    </span>-->
<!--                </div>-->
<!--                <br />               -->
<!--            {% endfor %}-->
           

        {% endif %}

    </div>
</div>
<script>fileForm()</script>
<!-- <h1 id="path">{{ request.path }}</h1> -->
<!-- <script type="text/javascript" src="{% static 'js/openscript.js' %}"></script> -->
{% endblock %}